<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-for</title>
    <script src="../js/vue.js"></script>
</head>
<body>
<h1>v-for实例</h1>
<div id="app3">
    <ul>
        <li v-for="item in sortItems">
            {{item}}
        </li>
    </ul>
    <hr />
    <ul>
        <li v-for="(student,index) in sortStudents">
            {{index+1}}-{{student.name}}:{{student.age}}岁
        </li>
    </ul>
</div>
<script type="text/javascript">
    var app = new Vue({
        el:"#app3",
        data:{
           items:[53,21,14,54,6,33,89],
            students:[
                {name:'Aiden',age:'23'},
                {name:'Biden',age:'100'},
                {name:'Ciden',age:'50'},
                {name:'Diden',age:'77'}
            ]
        },
        computed:{
//            items:function(){
//                return [1,2,3,4,5,6,7]
//            }
//            不知道问题出在哪里，数组无法return1234567
//            技术胖教程
            sortItems:function () {
                return this.items.sort(sortNumber);
            },
            sortStudents:function () {
                return sortByKey(this.students,'age');
            }
        }
    })
    function sortNumber(a,b) {
        return a-b;
    }
    //数组对象方法排序:
    function sortByKey(array,key){
        return array.sort(function(a,b){
            var x=a[key];
            var y=b[key];
            return ((x<y)?-1:((x>y)?1:0));
        });
    }
</script>
</body>
</html>